/* INDEX CSS BLACK & WHITE*/
/* Updated: 1/16/2022 */

header {
  text-align: center; 
  color: white; 
  font-size: 300%; 
  background-color: /*#4332c2*/#000000;
  border-color: #000000;
  padding: 2.5%;
  padding-bottom: 0%;
  font-family: "Bison";
  margin: 0%;
  height:min-content;
}

@font-face {
  font-family: "Libre Franklin";
  src: url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');
}

.contactimg {width: 30%; 
  height: 30%;
  padding: 5%; 
  float:left

}
/* top navigation bar */
.topnav {
    text-align: center;
    background-color:#000000;
    width: 100%;
    font-family: "Bison";
    letter-spacing: 1px;
    display: inline-block;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-left: none;
  }
 
  .topnav a, .dropdown{
      
    display:inline-block;
    color: white;
    position:relative;
    background-color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding:5px 20px;
    width: max-content;
  }

  .ddcontent {
    display: none;
    margin-top: 5px;  
    position:absolute; 
    text-align: center;
    left: 0;
    padding: 0px;
    width: min-content;
    background-color:transparent;/*#339989;*/
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.168)
  }
    
  .ddcontent a{
    display:inline-block;
    color: white;
    position:relative;
    background-color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding:0px 17.5px;
    width:100%;
  }
  
  /* change color on hover */
  .topnav a:hover, .ddcontent a:hover{
    background-color: #7DE2D1;
    color: white;
  }
  
  .topnav a.active, #active {background-color:#ffffff; color:black;}
  
  .dropdown:hover .ddcontent {display:block; }
  /***************************************************/
 
body {

	background: white;
	color:#000000;
	font-size: 14px;
  margin: 0%;
  text-align: center;
  overflow-x: hidden;}


    /* color:#7B8CDE purple */
h2 {font-family: franklin-gothic-atf, sans-serif; 
  font-style:normal;
  font-weight:3px;
  color:#14a18c; 
  padding-top: 10%; 
  letter-spacing: 0.25px; 
  border-bottom-width: 2px; 
  border-bottom-style: solid;}
  
h3 {font-family: franklin-gothic-atf, sans-serif; 
  font-style: normal;
  font-weight:100;
  line-height: 150%;}


/* Footer*/
footer {font-family: franklin-gothic-atf, sans-serif; 
  font-size: 8pt;
  font-style: light;
  font-weight: 100;
  padding: 1%;
  position:absolute;
  text-align: center;
  bottom:0;
  width: 100%;
  background-color: #339989;
  color:white;
} 

.links a{color: white; padding-left: 2%;}
.links a:hover {color:#d0f6f0}

/*profileimg {height: 50px; width: 50px; border-radius: 50%; margin-top:0%; margin-right: 2%;margin-bottom:-0.5%}*/

img {width: 400px; float:left; padding: 10% 5% 15% 5%; vertical-align:middle;}

@media screen and (max-width: 800px){
  section {min-width: fit-content;  margin:5%; }
  }

content { text-align: left; 
  display: inline;
  position:absolute;
  vertical-align: middle;
  right: 5%;
  left: 30%;
  background: rgba(255, 255, 255, 0.349);
  padding:0%;
  margin: 2.5%}




iframe {
  text-align: center;
  width: 80%;
  zoom: 60%;
  padding: 5%; 
  height: 1000px;
  box-shadow:transparent; 
  border: transparent;
  background:white;
  border-color:white;
  backface-visibility: hidden;
}