/* Updated: 12/01/2022 */

header {
	text-align: center; 
	color: white; 
	font-size: 300%; 
	background-color: /*#4332c2*/#000000;
	border-color: #000000;
    padding: 2.5%;
	font-family: "Bison";
    margin: 0%;
    height:min-content;
}

@font-face {
  font-family: "Bison";
  src:url('Bison.ttf');}


p {font-family: franklin-gothic-atf, sans-serif; 
  font-style: light;
  font-weight: 100;
  text-align: right;
  font-weight: lighter;
  font-size: 15px;
  color:black;
  line-height: 50%;
  padding-right: 2%;
}

h1 {text-align: center;
  color:#7B8CDE;
  font-family: "Bison";
  font-size: 36px;} /* name */

h3 {
  text-align: center;
}/* contact info */

h2 {
  font-weight: bolder;
  font-size: 14px;
  line-height: 50%;
	color:black;} /* headings */


body {
	font-family: franklin gothic book;
	background: white;
	color:black;
	font-size: 14px;
  margin: 0%;
  text-align: center;
  overflow-x: hidden;}

section {
  margin: 5% 10%;
  text-align: left;
}


/* Footer*/
footer {font-family: franklin-gothic-atf, sans-serif; 
  font-style: light;
  font-weight: 100;
  padding: 1.5%;
  position: relative;
  text-align: center;
  bottom:0%;
  width: 100%;
  background-color: #339989;
  color:white;
} 
.topbutton {cursor: pointer;
  text-align:center; 
  color:white;
  font-weight: bold;
  display: inline-block;}

img {width: 90%; height: 90%; }

#p:hover {border-style: solid; border-color: #7DE2D1;}

/* Slideshow container */
.slideshow-container, .slideshow-containerB,.slideshow-containerC, .slideshow-containerD, .slideshow-containerE  {
  max-width: 1000px;
  position: relative;
  margin: 0px;
  padding:0px
}

/* Next & previous buttons */
.next, .nextB, .nextC, .nextD, .nextE {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -1%;
  padding: 16px;
  margin-top: -22px;
  color: #55555548;
  font-weight: bold;
  font-size: 200%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prevB, .prev, .prevC, .prevD, .prevE {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -1%;
  padding: 16px;
  margin-top: -22px;
  color: #55555548;
  font-weight: bold;
  font-size: 200%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: all;
}
/* On hover */
.prev:hover, .prevB:hover,.prevC:hover, .prevD:hover, .prevE:hover, .next:hover,  .nextB:hover, .nextC:hover, .nextD:hover, .nextE:hover  {
  color: white;
}

/* slide dots */
.dot, .dotB, .dotC, .dotD, .dotE  {
  cursor: pointer;
  height: 10px;
  text-align: center;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.mySlides, .mySlidesB,.mySlidesC, .mySlidesD, .mySlidesE {display:none;}


.active, .dot:hover,.dotB:hover, .dotC:hover, .dotD:hover, .dotE:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) { .prev, .prevB,.prevC,.prevD,.nextC,.nextD, .nextB, .next,.text, .topnav {font-size: 11px}}

iframe {
  text-align: center;
  width: 80%;
  zoom: 60%;
  padding: 5%; 
  height: 1000px;
  box-shadow:transparent; 
  border: transparent;
  background:white;
  border-color:white;
  backface-visibility: hidden;
}



/****** columns *******/

.left {
  width: 50%; 
  float: left
}
.right {
  width: 50%; 
  float: right
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*******************************top nav********/
/* top navigation bar */
.topnav {
  text-align: center;
  background-color:black;
  width: 100%;
  font-family: Bison;
  letter-spacing: 1px;
  display: inline-block;
  border-style: solid;
  border-color: white;
}


.topnav a, .dropdown{
    
  display:inline-block;
  color: white;
  position:relative;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding:5px 20px;
  width: max-content;
}


.ddcontent {
  display: none;
  margin-top: 5px;  
  position:absolute; 
  text-align: center;
  left: 0;
  padding: 0px;
  width: min-content;
  background-color:transparent;/*#339989;*/
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.168)
}
  
.ddcontent a{
    
  display:inline-block;
  color: white;
  position:relative;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding:0px 17.5px;
  width:100%;
}

/* change color on hover */
.topnav a:hover, .ddcontent a:hover{
  background-color: #7DE2D1;
  color: white;
}

.topnav a.active, #active {
  background-color:white; 
  color:black;}
  

.dropdown:hover .ddcontent {display:block; }
/***************************************************/



table {text-align: center; display:inline-block}
